DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
BASE_URL="http://localhost:9000/api/v1"
PORT="9000"
SERVER_DEV_PORT="9000"
JWT_SECRET=""
EXCHANGE_RATES_API_URL='https://api.exchangeratesapi.io/latest'
EXCHANGE_RATES_API_KEY=""
REDIS_URL="redis://localhost:6379"